<div class="fr-mb-2w">Votre adresse mail professionnelle n'est pas reconnue ?</div>
<a class="fr-btn fr-btn fr-btn"
  title="Demander l'accès pour votre administration"
  target="_blank"
  rel="noopener"
  href="https://www.demarches-simplifiees.fr/commencer/utiliser-tchap">
  Demander l'accès pour votre administration
</a>
