<div class="fr-mb-2w">Votre email professionnel n'est pas reconnu ?</div>
<a class="fr-btn fr-btn fr-btn"
  title="Contactez-nous"
  target="_blank"
  rel="noopener"
  href="mailto:<%= supportEmail %>?subject=Demander%20l'ajout%20de%20mon%20service&amp;body=Bonjour,%0d%0a%0d%0a%5BJe%20travaille%20dans%20le%20service...%5D">
  Demander l'ajout de mon service
</a>
