<!-- We use footer_brand in header as well, because header_brand is too small. -->
<div class="rf-footer__brand">
  <a class="rf-logo"
     href="/#"
     title="Direction interministérielle du numérique">
    <span class="rf-logo__title">
      Direction
      <br>interministérielle
      <br>du numérique
    </span>
  </a>
</div>