<div class="fr-header__tools-links">
    <ul class="fr-btns-group">
        <li>
            <button class="fr-btn fr-icon-theme-fill" aria-controls="fr-theme-modal" data-fr-opened="false">Paramètres d'affichage</button>
        </li>
    </ul>
</div>
