<div class="rf-callout rf-fi-alert-line rf-callout--scheme-soft-orange-soft rf-mb-3w">
  <% if (error.message) { %>
    <p class="rf-callout__text"><%= error.message %></p>
    <% if (error.withContactLink) { %>
      <a class="rf-btn rf-btn--primary" title="Nous contacter" href="<%= urls.contact %>">Nous contacter</a>
    <% } %>
  <% } else { %>
    <p class="rf-callout__text"><%= error %></p>
  <% } %>
</div>
