<!-- todo : use the notification component, when it is added to the design system. Not present in 1.0.0-rc1.0. -->
<div class="fr-callout fr-fi-information-line notification--info fr-mb-3w">
  <p class="fr-callout__text"><%= info %></p>
</div>
