<div class="fr-callout fr-icon-alert-line notification--error fr-mb-3w">
  <% if (error.message) { %>
    <p class="fr-callout__text"><%= error.message %></p>
    <% if (error.withContactLink) { %>
      <a class="fr-btn fr-btn--primary" title="Nous contacter" href="<%= urls.contact %>">Nous contacter</a>
    <% } %>
  <% } else { %>
    <p class="fr-callout__text"><%= error %></p>
  <% } %>
</div>
