<%- include('partials/header') -%>

<div class="rf-container">
  <h2>Regardez vos emails</h2>
  <div><%= appName %> vous a envoyé un email contenant les identifiants de la conférence, et les instructions pour la rejoindre.</div>
  <div>Bonne discussion !</div>

  <h2>Je n'ai pas reçu l'email</h2>
  <div>L'envoi peut prendre quelques minutes, surtout si vous avez des problèmes de réseau actuellement.</div>
  <div>Avez-vous bien renseigné votre email sans faute de frappe ?</div>
  <div>Votre email se termine-t-il bien par ".gouv.fr" ? Conférences est un service pour les agents de l'Etat.</div>
  <div>Dans tous les cas, vous pouvez réessayer!</div>
  <a class="rf-btn" title="Créer une conférence" href="/">
    Créer une conférence
  </a>

</div>

<%- include('partials/footer') -%>
