<%- include('partials/header') -%>

<div class="rf-container">
  <div class="main-paragraph">
    <h2>Regardez vos emails</h2>
    <p><%= appName %> vous a envoyé un email contenant les identifiants de la conférence, et les instructions pour la rejoindre.</p>
    <p>Bonne discussion !</p>
  </div>

  <div class="main-paragraph">
    <h2>Je n'ai pas reçu l'email</h2>
    <p>L'envoi peut prendre quelques minutes, surtout si vous avez des problèmes de réseau actuellement.</p>
    <p>Avez-vous bien renseigné votre email sans faute de frappe ?</p>
    <p>Votre email se termine-t-il bien par ".gouv.fr" ? <%= appName %> est un service pour les agents de l'Etat.</p>
    <p>L'email est-il arrivé dans les indésirables (spam) de votre boîte mail ? </p>
    <p>Dans tous les cas, vous pouvez réessayer!</p>
    <a class="rf-btn" title="Créer une conférence" href="/">
      Créer une conférence
    </a>
  </div>

</div>

<%- include('partials/footer') -%>
