<%- include('partials/header') -%>

<div class="rf-container">
  <div class="main-paragraph">
    <h2>Regardez vos emails</h2>
    <p>
      <%= appName %> a envoyé un email à
      <strong><%= email %></strong>
      contenant les identifiants de la conférence, et les instructions pour la rejoindre.
    </p>
    <p>Bonne discussion !</p>
  </div>

  <div class="main-paragraph">
    <h2>Je n'ai pas reçu l'email</h2>
    <p>Avez-vous bien renseigné votre email sans faute de frappe ?</p>
    <p>L'email est-il arrivé dans les indésirables (spam) de votre boîte mail ? </p>
  </div>

  <div class="main-paragraph">
    <p>Dans tous les cas, vous pouvez réessayer ou nous contacter !</p>
    <a class="rf-btn rf-btn rf-margin-right-2N" title="Créer une conférence" href="/">
      Créer une conférence
    </a>
    <a class="rf-btn"
       title="Nous contacter"
       target="_blank"
       rel="noopener"
       href="mailto:audioconf@beta.gouv.fr?subject=Je n'ai pas reçu l'email&body=Bonjour,%0d%0a%0d%0a[Expliquez votre problème ici]">
      Nous contacter
    </a>
  </div>

</div>

<%- include('partials/footer') -%>
