<%- include('partials/header') -%>

<div class="fr-container">
  <div class="main-paragraph">
    <h2>
      
    </h2>

    <div class="fr-callout fr-mb-3w">
      <p class="fr-callout__title">
      </p>
      <ul class="fr-callout__text">
    
      </ul>
    </div>

    <p>
    </p>


    <p>Bonne discussion avec <%= appName %> !</p>
  </div>
</div>

<%- include('partials/footer') -%>
