<%- include('partials/header') -%>

<div class="fr-container">
  <div class="main-paragraph">
    <h2>
      Tableau de bord de votre conference
    </h2>
    <p>Pour rejoindre la conférence, appelez le <span id="phone-number"></span> et tapez le code : <span id="room-number"></span></p>
    <div class="fr-callout fr-mb-3w">
      <br>
      <table id="participant-table">
      </table>
    </div>
    <p>
    </p>
    <p>Bonne discussion avec <%= appName %> !</p>
  </div>
</div>
<script src="/static/js/dashboard.js"></script>

<%- include('partials/footer') -%>
