<%- include('partials/header') -%>

<div class="fr-container">
  <div class="main-paragraph">
    <h2>
      Tableau de bord de votre conférence
    </h2>
    <p id="board-description-info"></p>
    <div id="notification-error" class="fr-callout fr-icon-alert-line notification--error notification--hidden fr-mb-3w">
    </div>
    <div class="fr-callout fr-mb-3w">
      <br>
      <table id="participant-table">
      </table>
    </div>
    <p>
    </p>
    <p>Bonne discussion avec <%= appName %> !</p>
  </div>
</div>
<script src="/static/js/dashboard.js"></script>

<%- include('partials/footer') -%>
