<%- include('partials/header') -%>

  <div class="fr-container">
    <div class="fr-grid-row fr-grid-row--center">

      <div class="fr-col">
        <h2 class="fr-mt-7w">Questions fréquentes</h2>

        <ul class="fr-accordions-group">
          <li>
            <section class="fr-accordion" id="comment-creer-une-conference">
              <h3 class="fr-accordion__title">
                <button class="fr-accordion__btn" aria-expanded="false" aria-controls="accordion-1">
                  Comment créer une conférence moi-même ?
                </button>
              </h3>
              <div class="fr-collapse" id="accordion-1">
                <p>
                  Vous pouvez créer une conférence en toute autonomie, si vous êtes un agent public (voir
                  <a href="#qui-peut-avoir-acces">Qui peut avoir accès à AudioConf ?</a>)
                </p>
                <p>
                  <ol>
                    <li>
                      Venez sur le site AudioConf : <%= siteUrl %>
                    </li>
                    <li>
                      Saisissez votre adresse électronique professionnelle et
                      choisissez la date de votre conférence.
                      La conférence sera utilisable toute la journée choisie.
                    </li>
                    <li>
                      Un lien de confirmation vous est envoyé par courriel. Cliquez ce lien pour confirmer votre identité.
                      Le lien est actif 2h.
                    </li>
                    <li>
                      Votre conférence est créée ! La page de confirmation vous affiche les codes de la conférence, et un email
                      récapitulatif contenant les codes vous est également envoyé.
                    </li>
                  </ol>
                </p>
                <p>
                  Pour inviter des participants à votre conférence, transmettez-leur les codes d'accès,
                  par exemple en leur faisant suivre l'email de confirmation que vous avez reçu.
                </p>
              </div>
            </section>
          </li>
          <li>
            <section class="fr-accordion" id="comment-rejoindre-une-conference">
              <h3 class="fr-accordion__title">
                <button class="fr-accordion__btn" aria-expanded="false" aria-controls="accordion-2">
                  Comment rejoindre une conférence ?
                </button>
              </h3>
              <div class="fr-collapse" id="accordion-2">
                <p>
                  Il suffit d'avoir un téléphone (fixe, portable, peu importe) pour rejoindre une conférence AudioConf.
                </p>
                <p>
                  Appelez le numéro que vous a transmis l'organisateur de la conférence, et saisissez le code d'accès
                  sur le clavier du téléphone, puis appuyez sur #. Vous êtes dans la conférence.
                </p>
              </div>
            </section>
          </li>
          <li>
            <section class="fr-accordion" id="qui-peut-avoir-acces">
              <h3 class="fr-accordion__title">
                <button class="fr-accordion__btn" aria-expanded="false" aria-controls="accordion-3">
                  Qui peut avoir accès à AudioConf ?
                </button>
              </h3>
              <div class="fr-collapse" id="accordion-3">
                <p>
                  <b>Les agents de l'Etat peuvent réserver des conférences</b>. C'est votre email professionnel qui déterminera
                  si vous avez accès ou non. Les agents des collectivités ne sont malheureusement pas acceptés.
                </p>
                <p>
                  <b>N'importe qui peut rejoindre une conférence</b> dont il/elle a les codes d'accès, depuis son téléphone.
                </p>
              </div>
            </section>
          </li>
          <li>
            <section class="fr-accordion" id="peut-on-rejoindre-une-conference-depuis-l-etranger">
              <h3 class="fr-accordion__title">
                <button class="fr-accordion__btn" aria-expanded="false" aria-controls="accordion-4">
                  Peut-on rejoindre une conférence depuis les DROM ou l'étranger ?
                </button>
              </h3>
              <div class="fr-collapse" id="accordion-4">
                <p>
                  Oui. Chaque participant appelle le numéro de téléphone de la conférence :
                  c'est un numéro situé en France métropolitaine.
                  L'appel est facturé au prix habituel pour un appel vers la France métropolitaine, il n'est pas surtaxé.
                  L'appel peut se faire de n'importe quelle région du monde.
                </p>
              </div>
            </section>
          </li>
          <li>
            <section class="fr-accordion" id="comment-annuler-une-conférence-réservée">
              <h3 class="fr-accordion__title">
                <button class="fr-accordion__btn" aria-expanded="false" aria-controls="accordion-5">
                  Comment annuler une conférence réservée ?
                </button>
              </h3>
              <div class="fr-collapse" id="accordion-5">
                <p>
                  Il n’y a pas besoin d’annuler les conférences non utilisées. Elles ne coûtent pas de ressources.
                  Si vous avez changé la date de votre réunion, vous pouvez simplement réserver une nouvelle conférence
                  pour la nouvelle date.
                </p>
              </div>
            </section>
          </li>
        </ul>

        <div class="fr-callout fr-mb-3w">
          <h2 class="fr-callout__title">Email de contact </h2>
          <p class="fr-callout__text">Nous sommes joignable à l'adresse :
            <strong>
              <%= supportEmail %>
            </strong>.
          </p>
        </div>
      </div>
    </div>
  </div>

  <%- include('partials/footer') -%>