<%- include('partials/header') -%>

<div class="rf-container">
  <div class="rf-grid-row">
    <div class="rf-col">rf-col</div>
    <div class="rf-col-4">rf-col-4</div>
    <div class="rf-col-xs-12 rf-col-lg-4">rf-col-xs-12 rf-col-lg-4</div>
  </div>
</div>

<%- include('partials/footer') -%>
