<%- include('partials/header') -%>

<div class="rf-container">
  <nav class="rf-nav" role="navigation" aria-label="Menu principal">
    <ul class="rf-nav__list">
      <li class="rf-nav__item">
        <a class="rf-link" href="#je-cree-une-conf" target="_self">Je crée une conférence</a>
      </li>
      <li class="rf-nav__item">
        <a class="rf-link" href="#comment-ca-marche" target="_self">Comment ça marche ? </a>
      </li>
    </ul>
  </nav>
    <div class="rf-grid-row">
    <div class="rf-col">
      <div id="je-cree-une-conf" class="rf-margin-bottom-15N">
        <h2>
          Je crée une conférence téléphonique
        </h2>
        <form action="/create-conf" method="POST">
          <label class="rf-label" for="email">Renseignez votre email professionnel :</label>
          <div class="rf-grid-row">
            <div class="rf-col">
              <input class="rf-input" type="text" id="email" name="email">
            </div>
            <div class="rf-col">
              <button type="submit" class="rf-btn" title="Créer ma conférence">Créer ma conférence</button>
            </div>
          </div>
        </form>
      </div>
      <div id="comment-ca-marche">
        <h2>
          Comment ça marche ?
        </h2>
        <div>
          <div class="rf-margin-bottom-7N">
            <h3>1 . Je renseigne mon email professionnel</h3>
            Il doit finir par ".gouv.fr".
          </div>
          <div class="rf-margin-bottom-7N">
            <h3>2 . Je reçois un email du site Conférences</h3>
            <p>
              L'email contient :
            </p>
            <ul>
              <li>un numéro de téléphone à appeler</li>
              <li>un identifiant à 6 chiffres pour la conférence.</li>
            </ul>
          </div>
          <div class="rf-margin-bottom-7N">
            <h3>3 . Les participants rejoignent la conférence</h3>
            Chaque personne appelle le numéro depuis son téléphone (pro ou perso, peu importe)
            et tape les 6 chiffres de l'identifiant de la conférence, suivi de la touche dièse ("#").
          </div>
          <div class="rf-margin-bottom-7N">
            <h3>4 . C'est parti, parlez!</h3>
            <p>La conférence est disponible pendant 24h.</p>
            <p>Toute personne ayant le numéro de téléphone et l'identifiant à 6 chiffres peut rejoindre la conférence.</p>
            <p>Après le délai de 24h, la conférence ne marche plus, mais je pourrai en créer une nouvelle.</p>
          </div>
          <div class="rf-margin-bottom-7N">
            <h3>Prêts à démarrer ?</h3>
            <a class="rf-btn" title="Créer une conférence" href="#je-cree-une-conf">
              Créer une conférence
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%- include('partials/footer') -%>
