<%- include('partials/header') -%>

<div class="rf-container">
  <div class="rf-grid-row">
    <div class="rf-col">
      <div>
        <h2>
          Je crée une conférence téléphonique
        </h2>
        <div>
          <div>Renseignez votre email professionnel :</div>
          <div class="row">
            <textarea>dorine.ramacharya@beta.gouv.fr</textarea>
            <button>Créer ma conférence</button>
          </div>
        </div>
      </div>
      <div>
        <h2>
          Comment ça marche ?
        </h2>
        <div>
          <div>
            1 . Je renseigne mon email professionnel
          </div>
          <div>
            2 . Je reçois un email du site Conférences, contenant :
            <ul>
              <li>un numéro de téléphone à appeler</li>
              <li>un identifiant de conférence.</li>
            </ul>
          </div>
          <div>
            3 . Les participants rejoingnent la conférence :
            chaque personne appelle le numéro depuis son téléphone (pro ou perso)
            et tape l'identifiant de la conférence, suivi de la touche dièse ("#").
          </div>
          <div>
            4 . Parlez, c'est parti!
            La conférence est disponible pendant 24h.
            Toute personne ayant le numéro de téléphone et l'identifiant peut rejoindre la conférence.
            Après le délai de 24h, la conférence ne marche plus, mais je pourrai en créer une nouvelle.
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%- include('partials/footer') -%>
