<%- include('partials/header') -%>

<div class="rf-container">
  <div class="rf-grid-row">
    <div class="rf-col">
      <div id="je-cree-une-conf" class="main-paragraph">
        <h2>
          Je crée une conférence téléphonique
        </h2>
        <form action="/create-conf" method="POST">
          <label class="rf-label" for="email">Renseignez votre email professionnel :</label>
          <div class="rf-grid-row">
            <div class="rf-col">
              <input class="rf-input" type="email" id="email" name="email" required>
            </div>
            <div class="rf-col">
              <button type="submit" class="rf-btn" title="Créer ma conférence">Créer ma conférence</button>
            </div>
          </div>
        </form>
      </div>
      <div id="comment-ca-marche">
        <h2>
          Comment ça marche ?
        </h2>
        <div>
          <div class="sub-paragraph">
            <p>Vous êtes en télétravail et vous voulez appeler vos trois collègues de bureau ? </p>
            <p>Vous devez organiser votre réunion de service à distance pour vos 10 collaborateurs ? </p>
            <p>Créez en quelques clics une conférence téléphonique, où jusqu'à 50 personnes pourront se connecter, chacune sur son téléphone.</p>
            <p>Voici les étapes : </p>
          </div>
          <div class="sub-paragraph">
            <h3>1 . Je renseigne mon email professionnel</h3>
            Il doit finir par ".gouv.fr".
          </div>
          <div class="sub-paragraph">
            <h3>2 . Je reçois un email du site <%= appName %></h3>
            <p>
              L'email contient :
            </p>
            <ul>
              <li>un numéro de téléphone à appeler</li>
              <li>un identifiant à 6 chiffres pour la conférence.</li>
            </ul>
          </div>
          <div class="sub-paragraph">
            <h3>3 . Les participants rejoignent la conférence</h3>
            Chaque personne appelle le numéro depuis son téléphone (pro ou perso, peu importe)
            et tape les 6 chiffres de l'identifiant de la conférence, suivi de la touche dièse ("#").
          </div>
          <div class="sub-paragraph">
            <h3>4 . C'est parti, parlez!</h3>
            <p>La conférence est disponible pendant 24h.</p>
            <p>Toute personne ayant le numéro de téléphone et l'identifiant à 6 chiffres peut rejoindre la conférence.</p>
            <p>Après le délai de 24h, la conférence ne marche plus, mais je pourrai en créer une nouvelle.</p>
          </div>
          <div class="sub-paragraph">
            <h3>Prêts à démarrer ?</h3>
            <a class="rf-btn" title="Créer une conférence" href="#je-cree-une-conf">
              Créer une conférence
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%- include('partials/footer') -%>
