<%- include('partials/header') -%>

<div class="rf-container">
  <h2>
    Mentions légales
  </h2>
  <div>
    <div class="sub-paragraph">
      <h3>Editeur de la Plateforme</h3>
      La Plateforme [Nom du Produit] est éditée par [Nom de l’éditeur] situé : [Adresse éditeur] [Téléphone éditeur] [Mail éditeur]
    </div>
    <div class="sub-paragraph">
      <h3>Directeur de la publication</h3>
      [Nom du Directeur de la publication]
    </div>
  </div>
</div>

<%- include('partials/footer') -%>
