<%- include('partials/header') -%>

<div class="rf-container">
  <div class="rf-grid-row rf-grid-row--center">
    <canvas id="myChart"></canvas>
  </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
<!-- todo can we import with npm ? -->

<div id="chart-data">
  <%= JSON.stringify(stats) %>
</div>

<script src="static/js/charts.js"></script>
<%- include('partials/footer') -%>
