<%- include('partials/header') -%>

<div class="rf-container">
  <div class="rf-p-5w">
    <canvas id="conf-stats-chart"></canvas>
  </div>
  <div class="rf-p-5w">
    <canvas id="conf-booking-chart"></canvas>
  </div>
</div>

<script src="/chart.js/Chart.min.js"></script>

<div id="chart-data" style="display: none;">
  <%= JSON.stringify(stats) %>
</div>

<script src="static/js/charts.js"></script>
<%- include('partials/footer') -%>
