<%- include('partials/header') -%>

<div class="rf-container">
  <div class="rf-grid-row rf-grid-row--center rf-padding-5N">
    <canvas id="conf-stats-chart"></canvas>
  </div>
  <div class="rf-grid-row rf-grid-row--center rf-padding-5N">
    <canvas id="conf-booking-chart"></canvas>
  </div>
</div>

<script src="/~/chart.js/dist/Chart.min.js"></script>

<div id="chart-data" style="display: none;">
  <%= JSON.stringify(stats) %>
</div>

<script src="static/js/charts.js"></script>
<%- include('partials/footer') -%>
