<%- include('partials/header') -%>

<div class="fr-container">
  <div class="main-paragraph">

    <div class="fr-callout">
      <h2 class="fr-callout__title">Validez votre mail</h2>
      <p class="fr-callout__text">Pour continuer, cliquez sur le lien envoyé à
        <strong><%= email %></strong>.</p>
    </div>


    <h3>Besoin d'aide ?</h3>
    <div class="sub-paragraph">
      <h4>Je n'ai pas reçu l'email</h4>

      <p>Il se peut que le mail mette <b>jusqu'à 15 minutes</b> à arriver : certaines adresses sont protégées par des filtres de vérifications. Par ailleurs, vous pouvez aussi vérifier dans les indésirables (spam) de votre boîte mail.</p>
    </div>

    <div class="sub-paragraph">
      <h4>Je n'arrive pas à me connecter à la conférence</h4>
        <a class="fr-btn fr-btn--secondary" title="Nous contacter" href="<%= urls.contact %>">
      Nous contacter
      </a>
    </div>
  </div>
</div>

<%- include('partials/footer') -%>
