.main-paragraph {
  /* todo use Sass or some other css processor to reuse rules */
  margin-top: 56px !important; /* fr-mt-7w */
  margin-bottom: 64px !important; /* fr-mb-8w */
}

.sub-paragraph {
  /* todo use Sass or some other css processor to reuse rules */
  margin-top: 24px !important; /* fr-mt-3w */
  margin-bottom: 56px !important; /* fr-mb-7w */
}

.bandeau-principal {
  background-color: var(--background-contrast-grey);
}


.error-text {
  color: var(--text-default-error);
}

.cell--info {
  background-color: var(--background-alt-blue-france);
}

.notification--error {
  --scheme-border: var(--error);
}

.notification--hidden {
  display: none;
}

.notification--info {
  --scheme-border: var(--background-alt-blue-france);
}

.notification--success {
  --scheme-border: var(--background-flat-success);
}

.text-center {
  text-align: center;
}

.hidden {
  display: none;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
th, td {
  padding: 15px;
}


/* XS : de 0 à 575 */
@media (min-width: 0) {
  #metabase-stats {
    height: 5600px;
  }
}

/* SM : de 576 à 767 */
@media (min-width: 576px) {
  #metabase-stats {
    height: 7500px;
  }
}

/* MD : de 768 à 991  */
@media (min-width: 768px) {
  #metabase-stats {
    height: 8000px;
  }
}

/* 768 - 802px : before metabase layout jumps to desktop. */
@media (min-width: 803px) {
  #metabase-stats {
    height: 1300px;
  }
}

/* LG : de 992 à 1247 */
@media (min-width: 992px) {
  #metabase-stats {
    height: 1600px;
  }
}

/* XL : >= 1248 */
@media (min-width: 1248px) {
}
