# This workflow will do a clean install of node dependencies, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Node.js CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [12.x, 14.x]

    steps:
    - uses: actions/checkout@v2
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}
    - name: Setup PostgreSQL
      uses: Harmon758/postgresql-action@v1.0.0
      with:
        postgresql db: postgres
        postgresql user: postgres
        postgresql password: postgres
    - run: npm install
    - run: npm run build --if-present
    - run: npm test
      env:
        CI: true
        OVH_ROOM_APP_KEY: aaaaaaaaa
        OVH_ROOM_APP_SECRET: bbbbbbbbb
        OVH_ROOM_CONSUMER_KEY: ccccccccc
        OVH_ROOM_ACCOUNT_NUMBER: dddddddd
        OVH_ROOM_PHONE_NUMBER: 0033122334455
        MAIL_PASS: fakepass
        MAIL_SERVICE: debug
        MAIL_USER: fakeuser
        MAIL_SENDER_EMAIL: sender@example.com
        SECRET: fakesessionsecret
        TEST_DB_URL: postgres://postgres:postgres@localhost:5432/postgres
